/* Container for the entire search element */
.exp-search {
  position: relative;
	width: 0%;
	min-width: 40px;
	height: 60px;
	float: left;
  overflow: hidden;
  margin-left: .75em;
  padding-top: .25em;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
  transition: width 0.3s;
}
/* The input element on the search element  */
.sb-search-input {
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
	height: 95%;
	margin: 0;
  padding: 10px 10px 0px 40px;
}

.no-border{
  border: 0;
  outline: 0;
}

.active-border{
  border-bottom-color: #89B789 !important;
  border-width: 2px;
}


/* format the search icon */
.sb-icon-search {
  width: 40px;
	height: 100%;
  display: block;
	position: absolute;
	line-height: 64px;
	text-align: center;
  z-index: 90;
}

/* Open state */
.exp-search.exp-search-open,
.no-js .exp-search {
	width: 25%;
}