.header {
  height: 40px;
  margin: 10px 0px;
  padding: 0px;
}
.order-container{
  max-height: 350px;
  overflow: auto;
  padding: 5px;
  margin: 5px;
}

.su-drop-panel-button{
  padding: 2px;
}

.su-drop-panel{
  float: right
}
